body {
    margin: 20px 60px 0 60px;
    background-color: #f0ebcc;
    font-family: sans-serif;
}

header {
    text-align: center;
}

.logo {
    width: 30%;
    background-color:#344fa1;
    padding: 20px  100px;
    margin-bottom: -10px;
    border-radius: 15px 15px 0 0;
}

nav ul {
    background-color: #344fa1;
    padding: 10px 0;
    margin: 0;
    border-radius: 15px 15px 0 0;
}

nav ul li {
    margin: 5px 5px;
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 5px;
    border: 3px solid #fff;
    background-color: #3d84b8;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.covid-19, .covid-19 a{
    color: #fff;
    text-align: center;
}

.covid-19 a {
    color: red;
    background-color: #fff;
    padding: 5px;
}

.core-title {
    color: #fff;
    font-size: 35px;
    padding-left: 10px;
}

.core-div {
    position: relative;
    display: block;
    padding: 10px;
    background-color: #3d84b8;
}

.core-values {
    display: inline-grid;
    width: 30%;
    margin-left: 30px;
    color: #fff;
    
}

.offer {
    font-size: 35px;
    color: #344fa1;
    padding: 0 7px;
}

.items {
    position: relative;
    overflow:  hidden;
    display: inline-block;
    cursor: pointer;
    margin: 20px;
}

.items img {
    width: 400px;
    border-radius: 20px;
}

.items h3 {
    position: absolute;
    background-color: red;
    color: #fff;
    padding: 8px 55px;
    top: 28px;
    left: -46px;
    transform: rotate(-45deg);
}

.items h2 {
    position: absolute;
    background-image: linear-gradient(to top, #344fa1, #344fa198); 
    bottom: -23px;
    left: 0;
    color:#fff;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    width: 401px;
    padding: 25px 0;
    border-radius: 0 0 20px 20px;
}

footer {
    background-color:#344fa1;
    color: #fff;
    font-size: 19px;
    text-align: right;
    padding: 10px;
    margin-top: 25px;
    border-radius: 0 0 15px 15px;
}

footer span {
    margin: 0 10px;
}

footer img {
    width: 30px;
    margin: 0 5px -5px 5px;
    cursor: pointer;
}