body {
    margin: 20px 60px 0 60px;
    background-color: #f0ebcc;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.background-img {
    margin-top: 15px;
    width: 350px;
    animation-name: right-to-left;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

header {
    text-align: center;
}

.logo {
    width: 32%;
    background-color:#344fa1 ;
    padding: 20px  50px;
    margin-bottom: -10px;
    border-radius: 15px 15px 0 0;   
}

.nav-ul {
    background-color: #344fa1;
    padding: 10px 0;
    margin: 0;
    border-radius: 15px 15px 0 0;
}

.nav-btn {
    margin: 5px 3px;
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 5px;
    border: 3px solid #fff;
    background-color: #3d84b8;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.log-in {
    background-color: transparent;
    text-decoration: underline;
    color: #fff;
    text-underline-position: under;
    margin: 5px 3px;
    display: inline-block;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
}

.covid-19, .covid-19 a{
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.covid-19 a {
    color: red;
    background-color: #fff;
    padding: 2px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: underline;
}

.rating span {
    padding: 10px 10px 0 0;
    font-size: 25px;
}

.stars {
    width: 60px;
}

.face {
    width: 100px;
    margin-left: 20px;
}

.core-title {
    color: #fff;
    font-size: 28px;
    padding-left: 10px;
}

.core-div {
    position: relative;
    display: block;
    padding: 10px;
    background-color: #78b0d9;
    margin-bottom: 25px;
}

.numbers {
    width: 35px;
}

.core-values {
    display: inline-grid;
    width: 30%;
    margin-left: 30px;
    color: #fff;
}

.core-values h3 {
    font-size: 22px;
    margin: 0;
}

.core-values p {
line-height: 25px;
text-align:inherit;
}

.offer {
    font-size: 28px;
    color: #fff;
    padding: 0 7px;
    margin-bottom: 0;
}

.promo-h2 {
    font-family:monospace;
    color: red;
}

.items {
    position: relative;
    overflow:  hidden;
    display: inline-block;
    cursor: pointer;
    margin: 25px;
}

.items img {
    width: 400px;
    border-radius: 20px;
}

.items h3 {
    position: absolute;
    background-color: red;
    color: #fff;
    padding: 8px 85px;
    top: 30px;
    left: -63px;
    transform: rotate(-45deg);
    text-align: center;
}

.items h2 {
    position: absolute;
    background: #3f3697d1; 
    bottom: -23px;
    left: 0;
    color:#fff;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    width: 401px;
    padding: 25px 0;
    border-radius: 0 0 20px 20px;
}

footer {
    background-color:#344fa1;
    display: flex;
    color: #fff;
    font-size: 19px;
    padding: 15px;
    margin-top: 25px;
    border-radius: 0 0 15px 15px;
    justify-content:flex-end;
    align-items: center;
}

footer span {
    margin: 0 20px;
}

footer img {
    width: 30px;
    margin: 0 5px -5px 0px;
    cursor: pointer;
}

@keyframes right-to-left {
    to {
        transform: rotate(5deg);
    }
}

@media screen and (max-width: 600px) {
    body {

      margin: 20px 20px 0 20px;
    }
    .background-img {
        width: 150px;
    }
    .logo {
        width: 50%;
        padding: 20px 20px;
    }
    .nav-btn {
        margin: 5px 20px;
        display: block;
    }
    .stars {
        width: 30px;
    }
    .face {
        width: 50px;
    }
    .core-title {
        font-size: 25px;
    }
    .core-values {
        display: block;
        width: 90%;
        margin-left: 13px;
    }
    .offer {
        font-size: 25px;
    }
    .items {
        margin: 5px 0;
        
    }
    .items img {
        width: 300px;
    }
    .items h2 {
        font-size: 25px;
        width: 300px;
        padding: 20px 0;
        bottom: -18px;
    }
    .items h3 {
        font-size:  18px;
    }
    footer {
        flex-direction: column;
        font-size: 16px;
    }
    footer span {
        padding-bottom: 15px;
    }
  }
  